# Z Cleaning macros
[gcode_macro Fake_Home_Z]
description: fake-home Z for lead screw cleaning purposes
gcode:
    SET_KINEMATIC_POSITION Z=0

[gcode_macro Fake_Home_Z_MAX]
description: fake-home Z for lead screw cleaning purposes
gcode:
    SET_KINEMATIC_POSITION Z=260

# Homing and Dev/Testing Macros
[gcode_macro Fake_Center_Home_X]
description: fake-home X
gcode:
    SET_KINEMATIC_POSITION X=135

[gcode_macro Fake_Center_Home_Y]
description: fake-home Y
gcode:
    SET_KINEMATIC_POSITION Y=135
